---
openapi: 3.1.0

info:
  title: TODO ADHD
  summary: A task manager for those with ADHD
  description: |-
    REST API to manage TODO tasks and lists with easy interations from MCP clients.
    The API supports common CRUD operations and works with clients supporting:
    - REST API functions
    - [MCP servers](https://modelcontextprotocol.io/docs/getting-started/intro)

    As the first iteration of the application, we're focusing on creating something minimal and viable for our customers to not only enjoy but also learn.

    The OpenAPI spec uses the following tools to facilitate documentation:
    - **Swagger Editor**: For editing openapi yaml files
    - **Swagger UI**: For rendering the openapi specs
    - **Prism**: For generating a mock server
    - **Scalar**: For creating interative API documentation
  termsOfService: http://localhost:3000/terms-of-service
  contact:
    name: API Support
    url: http://localhost:3000/contact
    email: support@example.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.1
externalDocs:
  url: https://www.linkedin.com/in/aditya-raj-content-creator/
  description: Connect with me on LinkedIn
servers:
  - url: http://localhost:8081
    description: The production API on this device
  - url: https://oasd8430b42a5c0.free.beeceptor.com
    description: for beeceptor testing

paths:
  /todo:
    post:
      summary: Add a new todo
      description: Add a new todo to your task list
      operationId: addTodo
      requestBody:
        $ref: "#/components/requestBodies/TodoBody"
      responses:
        "201":
          description: Created a new todo
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Todo"
              examples:
                default:
                  $ref: "#/components/examples/TodoExample"
          links:
            GetTodoById:
              operationId: getTodo
              parameters:
                id: "$response.body#/id"
              description: The `id` value returned in the response can be used as the `id` parameter in `GET /todo/{id}`.

    get:
      summary: Get all todos
      description: Get all todos from the database
      operationId: getTodos
      responses:
        "200":
          $ref: "#/components/responses/TodoListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /todo/{id}:
    get:
      summary: Get a Todo
      description: Get a todo from your task list
      operationId: getTodo

      parameters:
        - $ref: "#/components/parameters/uuidParam"

      responses:
        "200":
          description: Successfully got todo
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Todo"
        "404":
          $ref: "#/components/responses/NotFound"

    put:
      summary: Update a todo
      description: Edit and update a todo in the database
      operationId: updateTodo

      parameters:
        - $ref: "#/components/parameters/uuidParam"

      requestBody:
        description: The todo to update
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Todo"
      responses:
        "204":
          description: Updated the todo

    patch:
      deprecated: false
      summary: Update todo with partial fields
      operationId: patchTodo

      parameters:
        - $ref: "#/components/parameters/uuidParam"

      responses:
        "200":
          description: Patched the todo
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TodoPatch"
              examples:
                updateStatus:
                  summary: Updates only status
                  value:
                    status: done
                updateTitle:
                  summary: Updates only title
                  value:
                    title: updates the title you numbnuts

    delete:
      deprecated: false
      summary: Delete a todo
      description: Deletes todo matching the provided ID
      operationId: deleteTodo

      parameters:
        - $ref: "#/components/parameters/uuidParam"

      responses:
        "200":
          description: Successfully deleted todo
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Todo"
        "404":
          $ref: "#/components/responses/NotFound"

components:
  headers:
    X-RateLimit-Limit:
      schema:
        type: integer
      description: Request limit per hour
    X-RateLimit-Remaining:
      schema:
        type: integer
      description: Number of requests left for time window
    X-RateLimit-Reset:
      schema:
        type: string
        format: date-time
      description: UTC date/time when window resets

  requestBodies:
    TodoBody:
      description: The todo to create
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Todo"

  responses:
    NotFound:
      description: The specified resource was not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

    TodoResponse:
      description: Successful response body for single todo
      headers:
        X-RateLimit-Limit:
          $ref: "#/components/headers/X-RateLimit-Limit"
        X-RateLimit-Remaining:
          $ref: "#/components/headers/X-RateLimit-Remaining"
        X-RateLimit-Reset:
          $ref: "#/components/headers/X-RateLimit-Reset"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Todo"
          examples:
            default:
              $ref: "#/components/examples/TodoExample"

    TodoListResponse:
      description: Sucessful response body with array of Todo
      headers:
        X-RateLimit-Limit:
          $ref: "#/components/headers/X-RateLimit-Limit"
        X-RateLimit-Remaining:
          $ref: "#/components/headers/X-RateLimit-Remaining"
        X-RateLimit-Reset:
          $ref: "#/components/headers/X-RateLimit-Reset"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Todos"
          examples:
            default:
              $ref: "#/components/examples/TodoListExample"

  examples:
    TodoExample:
      summary: A single task
      value:
        id: 6c3db773-39a8-4487-8912-3c7366ca45df
        title: Publish the documentation
        status: active
        tags: [work, money]

    TodoListExample:
      summary: A list of TODOs
      value:
        - id: 30cbfb7d-9afc-4a58-876d-83751780aa27
          title: Edit the documentation
          status: todo
          tags: [work]
        - id: 6c3db773-39a8-4487-8912-3c7366ca45df
          title: Publish the documentation
          status: active
          tags: [work, money]

  parameters:
    uuidParam:
      name: id
      in: path
      description: UUID for a todo in the db
      required: true
      schema:
        type: string
        format: uuid

  schemas:
    Todos:
      type: array
      items:
        $ref: "#/components/schemas/Todo"

    TodoPatch:
      type: object
      description: Without mandatory fields
      properties:
        title:
          description: Updated title
          type: string
          example: "Updated title"
        status:
          $ref: "#/components/schemas/Status"
        tags:
          $ref: "#/components/schemas/Tags"

    Todo:
      type: object
      description: This si a todo
      required:
        - title
        - status
      properties:
        id:
          description: Unique id for the todo
          type: string
          format: uuid
          # specifies field only in responses, not requests
          readOnly: true
          example: 30cbfb7d-9afc-4a58-876d-83751780aa27
        title:
          description: Title for the todo
          type: string
          example: "Complete documentation"
        status:
          $ref: "#/components/schemas/Status"
        tags:
          $ref: "#/components/schemas/Tags"

    Status:
      type: string
      description: Status of the todo
      example: done
      enum:
        - todo
        - active
        - done
      default: todo

    Tags:
      description: List of tags for todo
      type: array
      items:
        type: string
      example:
        - work
        - daily

    Error:
      type: object
      properties:
        code:
          type: integer
          example: 404
          minimum: 100
          maximum: 600
        message:
          type: string
          example: Resource not found
      required:
        - code
        - message
