---
apiVersion: v1
kind: Namespace
metadata:
  name: wordpress

---
apiVersion: v1
kind: Secret
metadata:
  name: wordpress-secret
  namespace: wordpress
stringData:
  WORDPRESS_DB_HOST: mysql
  WORDPRESS_DB_NAME: wpdb
  WORDPRESS_DB_PASSWORD: password
  WORDPRESS_DB_USER: admin

---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: wordpress
  name: wordpress
  namespace: wordpress
spec:
  replicas: 1
  selector:
    matchLabels:
      app: wordpress
  strategy: {}
  template:
    metadata:
      labels:
        app: wordpress
    spec:
      containers:
        - image: wordpress
          name: wordpress
          ports:
            - containerPort: 80
          envFrom:
            - secretRef:
                name: wordpress-secret
status: {}

---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: wordpress
  name: wordpress
  namespace: wordpress
spec:
  ports:
    - name: http
      port: 80
      protocol: TCP
      nodePort: 30950
      # https later @ 443
  selector:
    app: wordpress
  type: NodePort
