---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: fast
provisioner: rancher.io/local-path
reclaimPolicy: Retain
volumeBindingMode: WaitForFirstConsumer
---
# PERSISTENT VOLUME CLAIM
---
# https://kubernetes.io/docs/concepts/configuration/secret/
apiVersion: v1
kind: Secret
metadata:
  name: mysql
  namespace: wordpress
type: Opaque
stringData:
  MYSQL_DATABASE: db
  MYSQL_USER: exampleuser
  MYSQL_PASSWORD: examplepass
  MYSQL_RANDOM_ROOT_PASSWORD: "1"

---
# SERVICE must exist before Statefulset
apiVersion: v1
kind: Service
metadata:
  name: db
  namespace: wordpress
spec:
  selector:
    app: mysql
  type: ClusterIP
  ports:
    - name: http
      port: 3306
      targetPort: 3306
      protocol: TCP

---
# https://kubernetes.io/docs/concepts/workloads/controllers/deployment/
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: db
  namespace: wordpress
  labels:
    app: mysql
spec:
  serviceName: db
  replicas: 3
  # update in reverse 3 to 0 to protect master
  updateStrategy:
    type: RollingUpdate # or onDelete
  selector:
    matchLabels:
      app: mysql
  volumeClaimTemplates:
    - metadata:
        name: mysql-data
      spec:
        accessModes: ["ReadWriteOnce"]
        storageClassName: fast
        resources:
          requests:
            storage: 1Gi
  template:
    metadata:
      labels:
        app: mysql
    spec:
      terminationGracePeriodSeconds: 500
      containers:
        - name: mysql
          image: mysql
          imagePullPolicy: Always
          envFrom:
            - secretRef:
                name: mysql
          resources:
            requests:
              cpu: "500m"
              memory: 1Gi
            limits:
              cpu: "1000m"
              memory: 2Gi
          ports:
            - containerPort: 3306
              name: mysql-http
          volumeMounts:
            - mountPath: /var/lib/mysql
              name: mysql-data
