---
# https://kubernetes.io/docs/concepts/configuration/secret/
apiVersion: v1
kind: Secret
metadata:
  name: wp-secret
  namespace: wordpress
type: Opaque
stringData:
  WORDPRESS_DB_HOST: db
  WORDPRESS_DB_USER: exampleuser
  WORDPRESS_DB_PASSWORD: examplepass
  WORDPRESS_DB_NAME: db
# aditya=aditya.raj9191#
---
apiVersion: v1
data:
  WORDPRESS_HOME: http://localhost:30000
  WORDPRESS_SITEURL: http://localhost:30000
kind: ConfigMap
metadata:
  name: wp-config
  namespace: wordpress
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: wp-pv
spec:
  capacity:
    storage: 1Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  hostPath:
    path: /data/mnt
    type: DirectoryOrCreate
  storageClassName: ""
  claimRef:
    name: wp-pvc
    namespace: wordpress
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: wp-pvc
  namespace: wordpress
spec:
  accessModes:
    - ReadWriteOnce
  volumeMode: Filesystem
  resources:
    requests:
      storage: 1Gi
  storageClassName: ""
  volumeName: wp-pv
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: wordpress
  namespace: wordpress
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
  selector:
    matchLabels:
      app: wordpress
  template:
    metadata:
      labels:
        app: wordpress
    spec:
      volumes:
        - name: wp-data
          persistentVolumeClaim:
            claimName: wp-pvc
      containers:
        - name: wordpress
          image: wordpress
          envFrom:
            - secretRef:
                name: wp-secret
            - configMapRef:
                name: wp-config
          resources:
            requests:
              memory: "1Gi"
              cpu: "1000m"
            limits:
              memory: "2Gi"
              cpu: "2000m"
          ports:
            - containerPort: 80
          volumeMounts:
            - mountPath: /var/www/html
              name: wp-data

---
# https://kubernetes.io/docs/concepts/services-networking/service/
apiVersion: v1
kind: Service
metadata:
  name: wordpress
  namespace: wordpress
spec:
  selector:
    app: wordpress
  type: NodePort
  ports:
    - name: http
      port: 80
      targetPort: 80
      nodePort: 30000
